@if (user(); as _user) {
  <p-card [header]="_user.name">
    <app-user-details [user]="_user" />
  </p-card>
}

<h2 style="margin-bottom: 0">
  <ng-container *transloco="let t">{{ t('posts') }}</ng-container>
</h2>
@for (post of userPostsStore.posts(); track post.id) {
  <p-button
    icon="pi pi-angle-right"
    [label]="post.title"
    [link]="true"
    [style]="{ textAlign: 'left' }"
    (onClick)="userPostsStore.setPostId(post.id)"
  /><br />
}

@let post = userPostsStore.selectedPost();
<p-dialog
  [style]="{ width: '480px', maxWidth: '80%' }"
  [modal]="true"
  [resizable]="false"
  [draggable]="false"
  [dismissableMask]="true"
  [visible]="post !== undefined"
  (visibleChange)="userPostsStore.setPostId(undefined)"
  [header]="post?.title"
>
  {{ post?.body }}
</p-dialog>
